<article class="post-content">
  <section class="single-post-inner grap">
    <h2 class="index-title">种树的男人</h2>
    <p>让.季奥诺</p>
    <p>要想真正了解一个人是不是品行出众，你得花数年的时间，还要有好的运气和机会去观察他的行为。如果他的行为没有私心，动机无比慷慨，心中没有存着求回报的念头，而且他还在大地上留下了明显的印记，那么由此认定他是一个品行出众的人，基本错不了。</p>
    <p>1913年的一天，我长途跋涉，来到了一个不为人知的高原，那是一个位于法国东南部阿尔卑斯山附近被称为普罗旺斯的地方。当我走过这座毫无生机的高原的时候，看见的除了野熏衣草外，就是一片荒山与黄土了。</p>
    <p>我当时正要穿越高原最宽广的地带，3天后，才发现那是一处荒芜的地域。我来到一个破落村庄的废墟附近，搭起帐篷过夜。我的水两天前就用完了，现在得补充一点。想必村落内会有一口水井，或是一道泉水。我真的找到一处泉水的遗迹，不过早已干涸了。</p>
  </section>
  <section>
  <app-comments></app-comments>
  </section>
</article>

