<hr>
<section class="comment" id="J_Comment6337776572749596188">
  <div class="common-avatar">
    <img src="/assets/brand/profilePhoto/photo01.png" width="100%" height="100%"></div>
  <div class="comment-block">
    <p class="comment-user">
      <span class="comment-username">机关枪</span>
      <span class="comment-time">2017-03-22 21:25:25</span>
    </p>
    <div class="comment-content">应该利好资本市场，毕竟国有企业更加市场化了，可以增强企业活力</div>
  </div>
</section>
<section class="comment" >
  <div class="common-avatar">
    <img src="/assets/brand/profilePhoto/photo01.png" width="100%" height="100%"></div>
  <div class="comment-block">
    <p class="comment-user">
      <span class="comment-username">机关枪</span>
      <span class="comment-time">2017-03-22 21:25:25</span>
    </p>
    <div class="comment-content">应该利好资本市场，毕竟国有企业更加市场化了，可以增强企业活力</div>
  </div>
</section>
<section class="comment">
  <div class="common-avatar">
    <img src="/assets/brand/profilePhoto/photo01.png" width="100%" height="100%"></div>
  <div class="comment-block">
    <p class="comment-user">
      <span class="comment-username">机关枪</span>
      <span class="comment-time">2017-03-22 21:25:25</span>
    </p>
    <div class="comment-content">应该利好资本市场，毕竟国有企业更加市场化了，可以增强企业活力</div>
  </div>
</section>
<form>
  <div class="form-group row message">
    <label for="yourMesssage" class="col-sm-2 col-form-label">您的留言</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="yourMesssage" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="yourName" class="col-sm-2 col-form-label">尊姓大名</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="yourName">
    </div>
  </div>
  <div class="form-group row">
    <label for="yourEmail" class="col-sm-2 col-form-label">邮箱(不公开)</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="yourEmail">
    </div>
  </div>
  <div class="form-group row">
    <label for="yourWeb" class="col-sm-2 col-form-label">个人网址(可不填)</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="yourWeb">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">发表</button>

</form>
